Raspberry Pi/Imager.conf
arandr
balenaEtcher
btop
configstore
dconf
gh
git
github-copilot
mozilla
pulse 
pnpm
session
dlv
go
crush
yay
zsh-deps
QtProject.conf
dolphinrc
mimeapps.list
raspberry-pi
raspberry-pi.pub
htop
trashrc
goa-1.0
gtk-3.0
ibus
Pinta
flutter
nwg-look
swaync
discord
nvm
spotify
yay-bin
chromium/Crash Reports
Claude
