Code/
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
dconf/
mimeapps.list
monitors.xml
monitors.xml~
pavucontrol.ini
pulse/
systemd/
git
gtk-3.0/
Code - OSS/
yarn/
spotify/
nvim/
nvim 
google-chrome/
Postman/
QtProject.conf
discord/
thefuck/__pycache__
github-copilot/
go/
evolution/
